<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="line-height: 2; padding-left: 10px">
      Новое дело
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-row style="margin: 10px 0">
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Название</ion-label>
          <ion-input placeholder="Введите емкое название вашего дела" [(ngModel)]="userItem.name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row style="margin: 10px 0">
      <ion-col class="center">
        <ion-button color="primary" style="margin-top: 20px" (click)="save()">
          Сохранить
        </ion-button>
      </ion-col>
    </ion-row>

</ion-content>
